/* Remove scroll bar */
::-webkit-scrollbar {
    display: none;
}

body {
  background: url(../resources/images/landingFullScreen.jpg) no-repeat center center fixed; /* */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.main-body{
  margin-top: 100px;
  margin-bottom: 100px;
}
.block{
  background-color: lightgray;
  opacity: 0.8;
  border: 1px solid black;
}

.quote{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-form{
  margin: 10px;
}
